<div id="chat" class="chat">
  <div id="history" class="history"></div>
  <label for="text">Message</label>
  <textarea id="text" rows="3" maxlength="128" placeholder="Input message..." autofocus></textarea>
  <input type="button" id="send" class="button" value="Send message"/>
</div>