<nav class="online">
  <ul>
    <li>28 <i class="glyphicon glyphicon-user"><span> online</span></i>
      <ul>
        <li>First user</li>
        <li>Second user</li>
        <li>Third user</li>
      </ul>
    </li>
  </ul>
</nav>