@mixin bordered {
  border: 1px solid rgb(204, 204, 204);
}

.header {
  padding: 5px 0px 25px 0px;
}

.title, .menu {
  display: inline-block;
}

.title {
  font-size: 2em;
  font-weight: bold;
}

.menu {
  float: right;
}

/* .avatar {
  @include bordered;
  height: 200px;
} */

.chat .history {
  @include bordered;
  height: 400px;
  overflow: auto;

  & .post {
    padding: 15px;
    border-bottom: 1px dashed rgb(204, 204, 204);

    .avatar-mini {
      @include bordered;
      display: inline-block;
      width: 50px;
      height: 50px;
    }

    .message {
      display: inline-block;
      vertical-align: top;
      padding-left: 15px;

      & .username {
        display: inline-block;
        font-size: 1em;
        font-weight: bold;
      }

      & .datetime {
        display: inline-block;
        font-size: 0.7em;
        text-align: right;
      }

      & .text {
        font-size: 0.9em;
      }
    }
  }
}