@mixin bordered {
  border: 1px solid rgb(204, 204, 204);
}

.header {
  padding: 5px 0px 25px 0px;
}

.title, .menu {
  display: inline-block;
}

.title {
  font-size: 2em;
  font-weight: bold;
}

.menu {
  float: right;
}

/* .avatar {
  @include bordered;
  height: 200px;
} */

.chat .history {
  @include bordered;
  height: 400px;
  overflow: auto;

  & .post {
    padding: 15px;
    margin: 0px 10px;
    border-bottom: 1px dashed rgb(204, 204, 204);

    .avatar-mini {
      float: left;
      width: 50px;
      height: 50px;
    }

    .message {
      vertical-align: top;
      padding-left: 65px;

      & .username {
        font-size: 1em;
        font-weight: bold;
      }

      & .datetime {
        float: right;
        font-size: 0.7em;
      }

      & .text {
        font-size: 0.9em;
      }
    }
  }
}

.avatar-view {
  width: 200px;
  height: 200px;

  .mask{
    position: absolute;
    top: 0px;
    width: 200px;
    height: 200px;
    opacity: 0;
    overflow: visible;
    border: 100px solid rgba(0,0,0,0.7);
    box-sizing: border-box;
    transition: all 0.4s ease-in-out;

    .upload-action {
      position: relative;
      width: 200px;
      top: 70px;
      left: -90px;
      opacity: 0;
      transition: opacity 0.5s 0s ease-in-out;
    }
  }

  &:hover .mask {
    opacity: 1;
    border: 100px solid rgba(0,0,0,0.7);
    color: white;
  }

  &:hover .upload-action {
    opacity:1;
    transition-delay: 0.3s;
    cursor: pointer;
  }
}

.upload {
  visibility: hidden;
}