<div class="row header">
  <div class="small-12 small-centered medium-8 medium-centered large-8 large-centered columns">
    <div class="title">Funny chat</div>
    <div class="menu">
      <% if signed_in? %>
          <%= link_to "Sign out", destroy_user_session_path, method: :delete %> |
          <%= current_user.username if signed_in? %>
      <% end %>
    </div>
  </div>
</div>